* {
  margin: 0;
  padding: 0;
  outline: none;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "Microsoft Yahei", "微软雅黑", Arial, Helvetica, sans-serif;
  font-size: 0.14rem;
  color: #000;
  background: #f0f2f5;
  -webkit-text-size-adjust: none;
  min-width: 310px;
}
a {
  color: #000;
  text-decoration: none;
}
/* 公共卡片 */
.cards {
  background-color: #fff;
  width: 95%;
  margin: 0 auto;
  /* height: 2.4rem; */
  border-radius: 0.1rem;
  margin-bottom: 0.1rem;
  font-size: 0.14rem;
}
.cards .top {
  border-bottom: 2px solid #f0f2f5;
  /* line-height: 0.1rem; */
  padding: 0.1rem 0.2rem;
  box-sizing: border-box;
}
.cards .bot {
  padding: 0.1rem 0.2rem;
}
.cards .bot div {
  margin-bottom: 0.1rem;
}
/* 按钮 */
.button {
  display: inline-block;
  background-color: #e9b96a;
  width: 1.2rem;
  height: 0.3rem;
  line-height: 0.3rem;
  color: #fff;
  text-align: center;
  border-radius: 0.3rem;
}
/* tab栏 */
.van-tabbar-item--active {
  color: #fff !important;
  background-color: #e0b166 !important;
}
.van-tabbar {
  border-top: 1px solid #e0b166;
  box-sizing: border-box;
  height: 0.5rem !important;
}
.van-tabbar-item {
  border-right: 1px solid #f0f2f5;
  box-sizing: border-box;
  font-size: 0.14rem !important;
}
/* 大卡片 */
.card {
  /* position: fixed; */
  background-color: #fff;
  width: 90%;
  margin-left: 2%;
  height: 5.5rem;
  border-radius: 0.1rem;
  padding: 0.1rem;
  overflow: auto;
}
/* input */
/* .el-input__inner {
  border: 1px solid #000;
  color: #000;
} */
.el-picker-panel {
  position: fixed;
  top: 3rem !important;
  left: 0.18rem !important;
  z-index: 2011 !important;
  width: 3.2rem !important;
}
.el-input.is-disabled .el-input__inner{
  color: #000 !important;
}
